---
import { Button } from "@everybody-gives/ui";
import Layout from "../layouts/Layout.astro";

// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="Amigo Secreto">
	<main
		class="min-h-full flex items-center flex-col justify-cente p-[100px]"
	>
		<h1
			class="text-4xl font-extrabold tracking-tight sm:text-6xl flex flex-col"
		>
			<span
				style="text-transform:uppercase;text-shadow:-2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000"
				class="block text-background xl:inline"
				>Amigo</span
			>
			<span
				style="text-transform:uppercase;text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000"
				class="block xl:inline md:whitespace-nowrap"
				>Secreto</span
			>
		</h1>
		<div class="mt-5 sm:mt-8 flex self-start">
			<button
				class="px-4 font-semibold py-3 text-xl md:py-4 md:px-6 cursor-pointer group flex flex-row whitespace-nowrap min-h-full items-center justify-center rounded-full border-2 border-black bg-action hover:text-background hover:bg-black disabled:opacity-50 disabled:hover:bg-action disabled:hover:text-black disabled:cursor-default"
				onclick="
				window.location.href = 'new-group/';
				"
				>Vaaaai &RightTriangle;</button
			>
		</div>
	</main>
</Layout>
